POSTGRES__HOST=postgres
POSTGRES__PORT=5432
POSTGRES__USER=postgres
POSTGRES__PASSWORD=postgres
POSTGRES__DB=rps_data

WORKER__PROCESS_INTERVAL=5
WORKER__RPS_INTERVAL=5
WORKER__INCREASE_INTERVAL=720
WORKER__UNBOOKING=ALL
WORKER__RPS_THRESHOLD=20.0
WORKER__WARN_AFTER_MINS=10
WORKER__UNBOOK_AFTER_MINS=20

RABBITMQ__URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ__EXCHANGE=logs.events
RABBITMQ__LOGS_QUEUE=logs.process

MODEL_REGISTRY__URL=http://model-registry:8001/v2

MODEL_DISPATCHER__URL=http://model-dispatcher:8002/v1

BOOKING__URL=http://booking:8003/api/v1

PROMETHEUS__URL=http://prometheus:8004

NOTIFICATOR__URL=http://notificator:8005
