WORKER__PROCESS_INTERVAL=5
WORKER__RPS_INTERVAL=5
WORKER__INCREASE_INTERVAL=720
WORKER__UNBOOKING=ALL
WORKER__SCALE_UP_THRESHOLD=20.0
WORKER__SCALE_DOWN_THRESHOLD=5.0
WORKER__WARN_AFTER_MINS=10
WORKER__UNBOOK_AFTER_MINS=20

RABBITMQ__URL=amqp://guest:guest@localhost:5672/
RABBITMQ__EXCHANGE=logs.events
RABBITMQ__LOGS_QUEUE=logs.process

MODEL_REGISTRY__URL=http://localhost:8001/v2

MODEL_DISPATCHER__URL=http://localhost:8002/v1

BOOKING__URL=http://localhost:8003/api/v1

PROMETHEUS__URL=http://localhost:8004

NOTIFICATOR__URL=http://localhost:8005
