components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    InstallSchema:
      properties:
        modelId:
          format: uuid4
          title: Modelid
          type: string
        ownerId:
          anyOf:
          - format: uuid
            type: string
          - type: 'null'
          title: Ownerid
        replicas:
          exclusiveMinimum: 0.0
          title: Replicas
          type: integer
      required:
      - modelId
      - replicas
      title: InstallSchema
      type: object
    LoadSchema:
      properties:
        modelId:
          format: uuid4
          title: Modelid
          type: string
        revision:
          anyOf:
          - type: string
          - type: 'null'
          title: Revision
        storageType:
          title: Storagetype
          type: string
      required:
      - modelId
      - storageType
      title: LoadSchema
      type: object
    SagaSchema:
      properties:
        createdAt:
          format: date-time
          title: Createdat
          type: string
        current_step:
          title: Current Step
          type: integer
        id:
          format: uuid4
          title: Id
          type: string
        modelId:
          format: uuid4
          title: Modelid
          type: string
        status:
          $ref: '#/components/schemas/SagaStatus'
        steps:
          items:
            $ref: '#/components/schemas/StepSchema'
          title: Steps
          type: array
        type:
          $ref: '#/components/schemas/SagaType'
        updatedAt:
          format: date-time
          title: Updatedat
          type: string
      required:
      - modelId
      - id
      - type
      - status
      - current_step
      - steps
      - createdAt
      - updatedAt
      title: SagaSchema
      type: object
    SagaStatus:
      enum:
      - created
      - in_progress
      - completed
      - failed
      - compensating
      - compensated
      title: SagaStatus
      type: string
    SagaStepStatus:
      enum:
      - pending
      - in_progress
      - completed
      - failed
      - compensating
      - compensated
      - compensation_failed
      - failed_pending_cleanup
      - awaiting_cleanup
      title: SagaStepStatus
      type: string
    SagaType:
      enum:
      - install
      - uninstall
      - upscale
      - downscale
      - load
      title: SagaType
      type: string
    ScaleSchema:
      properties:
        modelId:
          format: uuid4
          title: Modelid
          type: string
        replicas:
          exclusiveMinimum: 0.0
          title: Replicas
          type: integer
      required:
      - modelId
      - replicas
      title: ScaleSchema
      type: object
    StepSchema:
      properties:
        createdAt:
          format: date-time
          title: Createdat
          type: string
        id:
          title: Id
          type: integer
        name:
          title: Name
          type: string
        status:
          $ref: '#/components/schemas/SagaStepStatus'
        updatedAt:
          format: date-time
          title: Updatedat
          type: string
      required:
      - id
      - name
      - status
      - createdAt
      - updatedAt
      title: StepSchema
      type: object
    UninstallSchema:
      properties:
        modelId:
          format: uuid4
          title: Modelid
          type: string
      required:
      - modelId
      title: UninstallSchema
      type: object
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
info:
  title: Model Command Dispatcher
  version: 1.0.0
openapi: 3.1.0
paths:
  /health/liveness:
    get:
      description: "\u041F\u0438\u043D\u0433"
      operationId: liveness_health_liveness_get
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Liveness Health Liveness Get
                type: boolean
          description: Successful Response
      summary: Liveness
      tags:
      - Health
  /health/readiness:
    get:
      description: "\u0413\u043E\u0442\u043E\u0432\u043D\u043E\u0441\u0442\u044C \u043F\
        \u0440\u0438\u043D\u0438\u043C\u0430\u0442\u044C \u0442\u0440\u0430\u0444\u0438\
        \u043A"
      operationId: readiness_health_readiness_get
      responses:
        '200':
          content:
            application/json:
              schema:
                title: Response Readiness Health Readiness Get
                type: boolean
          description: Successful Response
      summary: Readiness
      tags:
      - Health
  /v1/command/install:
    post:
      operationId: install_v1_command_install_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallSchema'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SagaSchema'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Install
      tags:
      - Commands
  /v1/command/load:
    post:
      operationId: load_v1_command_load_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadSchema'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SagaSchema'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Load
      tags:
      - Commands
  /v1/command/scale:
    post:
      operationId: scale_v1_command_scale_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScaleSchema'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SagaSchema'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Scale
      tags:
      - Commands
  /v1/command/uninstall:
    post:
      operationId: uninstall_v1_command_uninstall_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UninstallSchema'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SagaSchema'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Uninstall
      tags:
      - Commands
  /v1/saga/{saga_id}:
    get:
      operationId: get_saga_v1_saga__saga_id__get
      parameters:
      - in: path
        name: saga_id
        required: true
        schema:
          format: uuid4
          title: Saga Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SagaSchema'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Saga
      tags:
      - Saga
